*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.952);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}
body::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: chocolate;
    clip-path: circle(40% at right  110%);
    position: absolute;
    z-index: -1;

}
.content{
    width: 80%;
    height: 80%;
    background-color:  rgb(255, 255, 255,0.1) ;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    width: 80%;
    margin: auto;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    color: white;
    text-transform: capitalize;
    transition: 1s ease;
}
nav a:hover{
    color: chocolate;
    transform: scale(1.1);
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    transition: 1s ease;
}
nav ul li a:hover{
    color: chocolate;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 80%;
    gap: 22px;
}
.img{
    width: 40%;
}
.img img{
    width: 300px;
    border: 2px solid black;
    box-shadow: 3px 3px 7px 3px bisque;
    transition: 1s ease-out;
}
.img img:hover{
    transform: scale(0.9);
}
.txt h1{
    text-transform: uppercase;
    padding-bottom: 3px;
    color: white;
    transition: 1s ease-in-out;
    font-size: 35px;
}
.txt h1:hover{
    color: chocolate
}
.txt p{
    padding-top: 4px;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    word-spacing: 1px;
    line-height: 40px;
}